<div class="container-fluid">
    <div style="margin-bottom: 150px;" class="col-sm-12">
        <div class="row mt-5">
            <div class="col-sm-12">
                <h3 style="margin-left: 40%; color: rgb(4, 4, 65);">
                    <mat-icon style="font-size: 40px; margin-left: 4%;">local_phone</mat-icon>
                    <br> contact
                    <div class="row">
                        <div class="column left">
                            <h5>
                                <mat-icon style="font-size: 20px; margin-left: 15%; ">place</mat-icon>
                                Colombo, Sri Lanka
                            </h5>
                           
                        </div>
                       
                           
                             
                           
                        </div>
                </h3>
                </div>
                </div>
                </div>
</div>
