<div class="container-fluid">
    <div style="margin-bottom: 150px;" class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <mat-card>
                    <mat-card-title-group>
                        <mat-card-title>
                            <h5> <mat-icon matPrefix>person</mat-icon>About Me
                            </h5>
                           </mat-card-title>
                    </mat-card-title-group>
                    <mat-card-content>
                        <div class="description mt-4">
                            <p>Hello! I'm from Colombo, Sri Lanka. I am a self learning and smart working individual and have a good capability to work
                                as a team with having good team spirit.
                            </p>
                            <p>I received my secondary education at St.Joseph's Girls' School where I completed my National G.C.E 
                                Ordinary level exam and I have attended to Sirimavo Bandaranaike Vidyalaya to complete my National
                                G.C.E Advanced level exam.
                            </p>
                            <p>
                                Currently, I am an undergraduate of University of Sri Jayawardenapura where I have engaged with Computer Science Special 
                                degree at Faculty of Applied Science since 2017.
                            </p>
                            <br>
                            <table width=100%>
                                <td width=50%><p> <strong>Age  ...........................  23</strong> </p></td>
                                <td width=50%><p> <strong> Residence  .....................   Sri Lanka</strong> </p></td>
                            </table>
                                
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            </div>
            </div>
</div>
