<div class="container-fluid">
    <div style="margin-bottom: 150px;" class="col-sm-12">
        <div class="row mt-5">
            <div class="col-sm-12">
               <h3 style="margin-left: 40%; color: rgb(4, 4, 65);"> 
                <mat-icon style="font-size: 40px; margin-left: 5%;">create</mat-icon><br>
                works</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <p style="color: rgb(4, 4, 65);"><mat-icon>fiber_manual_record</mat-icon>
                            2020 - Present</p>
                            <div class="project">
                                <p>NCC PROJECT</p>
                            <p style="margin-top: -2%;color: grey; font-size: 15px;">A web platform which is 
                                created for Nationa Hand Craft Council
                                to store data about hand craftmen arround the country. 
                                </p>
                                <p style="margin-top: -2%;color: grey; font-size: 15px;">
                                    <strong>Technologies : </strong>  MEAN Stack</p>
                            </div>
                            <div class="project">
                                <p>RECIPE BOOK</p>
                            <p style="margin-top: -2%;color: grey; font-size: 15px;">A web platform to 
                                read and buy prepared meals through online.
                                </p>
                                <p style="margin-top: -2%;color: grey; font-size: 15px;">
                                    <strong>Technologies : </strong> MEAN Stack</p>
                            </div>
                            <div class="project">
                                <p>IMDB MOVIE RATINGS PREDICTION</p>
                            <p style="margin-top: -2%;color: grey; font-size: 15px;">A Machine learing algorithms to predicate IMDB ratings of
                                new release movie based on director’s, producer’s and cast’s mean
                                IMDB ratings.
                                </p>
                                <p style="margin-top: -2%;color: grey; font-size: 15px;">
                                 <strong>Technologies : </strong> Python, Pandas</p>
                            </div>
                            <div class="project">
                                <p>SUICIDE RATING PREDICTION PER YEAR</p>
                            <p style="margin-top: -2%;color: grey; font-size: 15px;">A Machine learning algorithm to predicate suicide rating
                                per year based on past 20 years details of many
                                countries in the world.
                                </p>
                                <p style="margin-top: -2%;color: grey; font-size: 15px;">
                                 <strong>Technologies : </strong> Python, Pandas</p>
                            </div>
                            <p style="color: rgb(4, 4, 65);"><mat-icon>fiber_manual_record</mat-icon>
                                2018</p>
                                <div class="project">
                                    <p>RESOURCES ALLOCATION SYSTEM</p>
                                <p style="margin-top: -2%;color: grey; font-size: 15px;">A dekstop applicaton to manage resources.
                                    </p>
                                    <p style="margin-top: -2%;color: grey; font-size: 15px;">
                                     <strong>Technologies : </strong> Java, My SQL</p>
                                </div>
                                <div class="project">
                                    <p>STORE MANAGEMENT SYSTEM</p>
                                <p style="margin-top: -2%;color: grey; font-size: 15px;">A dekstop application to manage store details.
                                    </p>
                                    <p style="margin-top: -2%;color: grey; font-size: 15px;">
                                     <strong>Technologies : </strong>C</p>
                                </div>

                            
                    </div>
                </div>
                </div>
                </div>
                

    </div>

</div>
