
<mat-nav-list class="mat-side-naveList">
    <mat-list-item>
        <span class="item" style="padding-top: 20px; padding-bottom: 20px;">
           
                <span>
                    <mat-icon style="font-size: 20px; margin-left: 15%; ">person</mat-icon>
                </span>
               <span style="margin-left: 20%;">About</span>
               
        </span>
       
    </mat-list-item>
    <br>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="item" style="padding-top: 20px; padding-bottom: 20px;">
            <a  style="margin-left: 15%; margin-top: 15%;">
                <span>
                    <mat-icon style="font-size: 20px; margin-left: 12%; ">text_snippet</mat-icon>
                </span>
               <span style="margin-left: 20%;">Resume</span>
                </a>
            </span>
    </mat-list-item>
    <br>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="item" style="padding-top: 20px; padding-bottom: 20px;">
            <a  style="margin-left: 15%; margin-top: 12%;">
                <span>
                    <mat-icon style="font-size: 20px; margin-left: 15%; ">create</mat-icon>
                </span>
               <span style="margin-left: 20%;">Works</span>
                </a>
            </span>
    </mat-list-item>
    <br>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="item" style="padding-top: 20px; padding-bottom: 20px;">
            <a  style="margin-left: 15%; margin-top: 12%;">
                <span>
                    <mat-icon style="font-size: 20px; margin-left: 15%; ">local_phone</mat-icon>
                </span>
               <span style="margin-left: 20%;">Contact</span>
                </a>
            </span>
    </mat-list-item>
    <br>
    <mat-divider></mat-divider>
    
</mat-nav-list>
   
