
<mat-nav-list class="mat-side-naveList">
    <mat-list-item class="mt-4">
        <span class="item" style="padding-top: 20px; padding-bottom: 20px;">
            <a  style="margin-left: 15%; margin-top: 15%;">
                <span>
                    <mat-icon style="font-size: 20px; margin-left: 15%; ">person</mat-icon>
                </span>
               <span  matLine>About</span>
                </a>
        </span>
       
    </mat-list-item>
    <br>
   <br>
   <br>
    <mat-list-item>
        <span class="item" style="padding-top: 20px; padding-bottom: 20px;">
            <a  style="margin-left: 15%; margin-top: 15%;">
                <span>
                    <mat-icon style="font-size: 20px; margin-left: 12%; ">text_snippet</mat-icon>
                </span>
               <span  matLine>Resume</span>
                </a>
            </span>
    </mat-list-item>
    <br>
    <br>
    <br>
    <mat-list-item>
        <span class="item" style="padding-top: 20px; padding-bottom: 20px;">
            <a  style="margin-left: 15%; margin-top: 12%;">
                <span>
                    <mat-icon style="font-size: 20px; margin-left: 15%; ">create</mat-icon>
                </span>
               <span  matLine>Works</span>
                </a>
            </span>
    </mat-list-item>
    <br>
    <br>
   <br>
    <mat-list-item>
        <span class="item" style="padding-top: 20px; padding-bottom: 20px;">
            <a  style="margin-left: 15%; margin-top: 12%;">
                <span>
                    <mat-icon style="font-size: 20px; margin-left: 15%; ">local_phone</mat-icon>
                </span>
               <span  matLine>Contact</span>
                </a>
            </span>
    </mat-list-item>
    <br>
    <br>
   <br>
    
</mat-nav-list>
   
