<div class="container-fluid">  
<div class="row mt-3">
        <div class="col-sm-7">
                    <div class="image">
                    <img src="../../../assets//my_photo.jpg" alt="my photo">
                </div>
               <div class="Details">
                    <h4 style="margin-left: 20%; margin-top: 5%;">Hi, I am</h4>
                    <br>
                    <h2>UPEKSHA SAMARASINGHE</h2>
               </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
</div>
