<div class="container-fluid" >
    <div style="margin-bottom: 150px;" class="col-sm-12">
        <div class="row mt-5">
            <div class="col-sm-12">
               <h3 style="margin-left: 40%; color: rgb(4, 4, 65);"> 
                <mat-icon style="font-size: 40px; margin-left: 5%;">insert_drive_file</mat-icon><br>
                resume</h3>
                      <div class="row mt-5">
                          <div class="column left">
                              <h6><mat-icon style="margin-left: 8%;">card_travel</mat-icon><br> Experience</h6>
                              <p style="color: rgb(4, 4, 65);"><mat-icon>fiber_manual_record</mat-icon>
                                2020 - Present</p>
                                <p>ASSISTANT SOFTWARE ENGINEER </p>
                                <p style="margin-top: -5%;color: grey; font-size: 15px;"> Echonlabs (PVT) LTD</p>
                                <p>VICE TREASURER </p> 
                                <p style="margin-top: -5%;color: grey; font-size: 15px;"> Leo Club of University of Sri Jayawaradenapura</p>
                          </div>
                          <div class="column right">
                            <h6><mat-icon style="margin-left: 8%;">school</mat-icon><br>Education</h6>
                            <p style="color: rgb(4, 4, 65);"><mat-icon>fiber_manual_record</mat-icon>
                              2020 - Present</p>
                              <p>BACHELOR OF SCIENCE (SPECIAL) IN COMPUTER SCIENCE </p>
                              <p style="margin-top: -5%;color: grey; font-size: 15px;">University of Sri Jayawadenapura </p>
                              <p style="color: rgb(4, 4, 65);"><mat-icon>fiber_manual_record</mat-icon>
                                2016</p>
                                <p>GENERAL CERTIFICATE OF EDUCATION (ADVANCED LEVEL) - MATHEMATICS STREAM </p> 
                                <p style="margin-top: -5%;color: grey; font-size: 15px;">Sirimavo Bandaranaike Vidyalaya, Colombo 07</p>

                                <p style="color: rgb(4, 4, 65);"><mat-icon>fiber_manual_record</mat-icon>
                                    2013</p>
                                    <p>GENERAL CERTIFICATE OF EDUCATION (ORDINARY LEVEL) </p> 
                                    <p style="margin-top: -5%;color: grey; font-size: 15px;">ST.Joseph Girl's School, Nugegoda</p>
    
                              </div>
                      </div>
                      <div class="row mt-2">
                        <div class="column left">
                            <h6><mat-icon style="margin-left: 8%;">dvr</mat-icon><br>Coding Skills</h6>
                            <div class="skill">
                                <p>TYPESCRIPT/ ANGULAR</p>
                                <div class="bar" data-percent="70" style="color: rgb(4, 4, 65);">
                                    <div class="progress" style="width:70%">
                                        <span style="margin-top: 3%; margin-left: 90%;"><strong>70%</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill mt-2">
                                <p>NODE JS/ EXPRESS</p>
                                <div class="bar" data-percent="70" >
                                    <div class="progress" style="width:70%">
                                        <span style="margin-top: 3%; margin-left: 90%;"><strong>70%</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill mt-2">
                                <p>HTML/ CSS/ BOOTSTRAP</p>
                                <div class="bar" data-percent="70" >
                                    <div class="progress" style="width:70%">
                                        <span style="margin-top: 3%; margin-left: 90%;"><strong>70%</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill mt-2">
                                <p>GIT</p>
                                <div class="bar" data-percent="70" >
                                    <div class="progress" style="width:70%">
                                        <span style="margin-top: 3%; margin-left: 90%;"><strong>70%</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill mt-2">
                                <p>LATEX</p>
                                <div class="bar" data-percent="65" >
                                    <div class="progress" style="width:65%">
                                        <span style="margin-top: 3%; margin-left: 90%;"><strong>65%</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill mt-2">
                                <p>MONGODB</p>
                                <div class="bar" data-percent="60" >
                                    <div class="progress" style="width:60%">
                                        <span style="margin-top: 3%; margin-left: 88%;"><strong>60%</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill mt-2">
                                <p>MY SQL/ POSTGRES SQL</p>
                                <div class="bar" data-percent="55" >
                                    <div class="progress" style="width:55%">
                                        <span style="margin-top: 4%; margin-left: 86%;"><strong>55%</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill mt-2">
                                <p>JAVA</p>
                                <div class="bar" data-percent="55" >
                                    <div class="progress" style="width:55%">
                                        <span style="margin-top: 4%; margin-left: 86%;"><strong>55%</strong></span>
                                    </div>
                                </div>
                                <div class="skill mt-2">
                                    <p>C</p>
                                    <div class="bar" data-percent="55" >
                                        <div class="progress" style="width:55%">
                                            <span style="margin-top: 4%; margin-left: 86%;"><strong>55%</strong></span>
                                        </div>
                                    </div>
                            </div>
                            <div class="skill mt-2">
                                <p>PYTHON? PANDAS</p>
                                <div class="bar" data-percent="50" >
                                    <div class="progress" style="width:50%">
                                        <span style="margin-top: 4%; margin-left: 86%;"><strong>50%</strong></span>
                                    </div>
                                </div>
                        </div>
                        </div>
                      </div> 
                      <div class="column right">
                        <h6><mat-icon style="margin-left: 8%;">brush</mat-icon><br>Design Skills</h6>
                        <div class="skill mt-2">
                            <p>ILLUSTARTOR</p>
                            <div class="bar" data-percent="60" >
                                <div class="progress" style="width:60%">
                                    <span style="margin-top: 4%; margin-left: 86%;"><strong>60%</strong></span>
                                </div>
                            </div>
                    </div>
                    <div class="skill mt-2 mb-4">
                        <p>PHOTOSHOP</p>
                        <div class="bar" data-percent="60" >
                            <div class="progress" style="width:60%">
                                <span style="margin-top: 4%; margin-left: 86%;"><strong>60%</strong></span>
                            </div>
                        </div>
                </div>
                <h6><mat-icon style="margin-left: 8%;">build_circle</mat-icon><br>Tools and Frameworks</h6>
                <div class="skill mt-2 ">
                    <p>VS CODE</p>
                    <div class="bar" data-percent="90" >
                        <div class="progress" style="width:90%">
                            <span style="margin-top: 3%; margin-left: 90%;"><strong>90%</strong></span>
                        </div>
                    </div>
                      </div>
                      <div class="skill mt-2 ">
                        <p>GOOGLE COLAB</p>
                        <div class="bar" data-percent="90" >
                            <div class="progress" style="width:90%">
                                <span style="margin-top: 3%; margin-left: 90%;"><strong>90%</strong></span>
                            </div>
                        </div>
                          </div>
                          <div class="skill mt-2 mb-4">
                            <p>NET BEANS</p>
                            <div class="bar" data-percent="90" >
                                <div class="progress" style="width:90%">
                                    <span style="margin-top: 3%; margin-left: 90%;"><strong>90%</strong></span>
                                </div>
                            </div>
                              </div>
                              <h6><mat-icon style="margin-left: 8%;">history_edu</mat-icon><br>Other Skills</h6>
                              <div class="skill mt-2 mb-2">
                                <p>LEADERSHIP</p>
                                <div class="bar" data-percent="90" >
                                    <div class="progress" style="width:90%">
                                        <span style="margin-top: 3%; margin-left: 90%;"><strong>90%</strong></span>
                                    </div>
                                </div>
                                  </div>
                                  
                </div>
                </div>
                </div>
</div>
